body {
    background-color: rgb(214, 233, 238);
}

h1 {
    font-size: 5rem;
    color: palevioletred;
    font-weight: lighter;
    text-shadow: 4px 4px 5px maroon;
    text-align: center;
  }

  h4 {
      font-family: cursive;
      font-weight: bold;
      color: purple;
      font-size: 20px;
  }

.enfeites-cereja,
.enfeites-morango {
    height: 80px;
    width: 80px;
    justify-content: left;
    text-shadow: 4px 4px 5px black;
    border-radius: 50px;
}

.massa-chocolate{
    background-color: maroon;
    height: 80px;
    width: 80px;
    font-size: 10px;
    font-family: arial;
    text-align: center;
    font-weight: normal;
    color: whitesmoke;
    border-radius: 50%;
}

.massa-redvelvet{
    background-color: red;
    height: 80px;
    width: 80px;
    font-size: 10px;
    font-family: arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.massa-baunilha{
    background-color: palegoldenrod;
    height: 80px;
    width: 80px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.recheio-amora{
    background-color: purple;
    height: 80px;
    width: 80px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: whitesmoke;
    border-radius: 50%;
}

.recheio-morango{
    background-color: rgb(209, 99, 163);;
    height: 80px;
    width: 80px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.recheio-abacaxi{
    background-color: yellow;
    height: 80px;
    width: 80px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.chantilly{
    background-color: aqua;
    height: 80px;
    width: 80px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.creme-de-manteiga{
    background-color: pink;
    height: 80px;
    width: 80px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.ganache{
    background-color: burlywood;
    height: 80px;
    width: 80px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}
.bolo {
    display:flex;
    align-items: center;
    flex-direction: column;
}


.bolo.chocolate{
    background-color: rgba(59, 30, 3, 0.973);
    height: 200px;
    width: 250px;
    border-radius: 20% 20% 0 0;
}

.bolo.red-velvet{
    background-color: red;
    height: 200px;
    width: 250px;
    border-radius: 20% 20% 0 0;
}

.bolo.baunilha{
    background-color: palegoldenrod;
    height: 200px;
    width: 250px;
    border-radius: 20% 20% 0 0;
}

.recheio.amora{
    background-color: purple;
    height: 30px;
    width: 250px;
    margin-top: 80px !important;
}

.recheio.morango{
    background-color: rgb(209, 99, 163);
    height: 30px;
    width: 250px;
    margin-top: 80px;
}

.recheio.abacaxi{
    background-color: yellow;
    height: 30px;
    width: 250px;
    margin-top: 80px;
}

.cobertura.chantilly{
    background-color: aqua;
    height: 20px;
    width: 250px;
    border-radius: 30% 30% 0 0;
    
}
 
/*  */
.cobertura.creme-de-manteiga{
    background-color: pink;
    height: 20px;
    width: 250px;
    border-radius: 30% 30% 0 0;
    
}

.cobertura.ganache{
    background-color: burlywood;
    height: 20px;
    width: 250px;
    border-radius: 30% 30% 0 0;
    
}



.decoracao.cereja{
    background-image: url("../imagens/cereja.png");
    background-size: 25px;
    height: 48px;
    width: 225px;
    margin: -5px 10px;
}

.decoracao.morango{
    background-image: url("../imagens/morango.png");
    background-size: 25px;
    height:40px;
    width: 225px;
    margin: -5px 10px;
}

#secao-1 {
    display: flex;
    justify-content: left;
    background-image: url("../imagens/fundo.png");
    height: 800px;
    width: 1500px;
    background-size: cover;

}


.massas,
.recheios,
.coberturas,
.decoracoes {
margin: 30px ;
}


.enfeites-cereja img,
.enfeites-morango img {
height: 30px;
}
