h1 {
    font-size: 5rem;
    color: palevioletred;
    font-weight: lighter;
    text-shadow: 4px 4px 5px maroon;
    text-align: center;
  }

  h4 {
      font-family: cursive;
      font-weight: bold;
      color: purple;
  }

.enfeites-cereja,
.enfeites-morango {
    height: 60px;
    width: 60px;
    justify-content: left;
    text-shadow: 4px 4px 5px black;
    border-radius: 50px;
}

.massa-chocolate{
    background-color: maroon;
    height: 60px;
    width: 60px;
    font-size: 10px;
    font-family: arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.massa-redvelvet{
    background-color: red;
    height: 60px;
    width: 60px;
    font-size: 10px;
    font-family: arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.massa-baunilha{
    background-color: palegoldenrod;
    height: 60px;
    width: 60px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.recheio-amora{
    background-color: purple;
    height: 60px;
    width: 60px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.recheio-morango{
    background-color: rgb(209, 99, 163);;
    height: 60px;
    width: 60px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.recheio-abacaxi{
    background-color: yellow;
    height: 60px;
    width: 60px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.chantilly{
    background-color: aqua;
    height: 60px;
    width: 60px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.creme-de-manteiga{
    background-color: pink;
    height: 60px;
    width: 60px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.ganache{
    background-color: burlywood;
    height: 60px;
    width: 60px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
    color: black;
    border-radius: 50%;
}

.bolo.chocolate{
    background-color: rgba(59, 30, 3, 0.973);
    height: 100px;
    width: 150px;
    border-radius: 20% 20% 0 0;
}

.bolo.red-velvet{
    background-color: red;
    height: 100px;
    width: 150px;
    border-radius: 20% 20% 0 0;
}

.bolo.baunilha{
    background-color: palegoldenrod;
    height: 100px;
    width: 150px;
    border-radius: 20% 20% 0 0;
}

.recheio.amora{
    background-color: purple;
    height: 20px;
    width: 150px;
    margin-top: 50px;
}

.recheio.morango{
    background-color: rgb(209, 99, 163);
    height: 20px;
    width: 150px;
    margin-top: 50px;
}

.recheio.abacaxi{
    background-color: yellow;
    height: 20px;
    width: 150px;
    margin-top: 50px;
}

.cobertura.chantilly{
    background-color: aqua;
    height: 10px;
    width: 150px;
    border-radius: 20% 20% 0 0;
    margin-bottom: 50px;
}
 
/*  */
.cobertura.creme-de-manteiga{
    background-color: pink;
    height: 10px;
    width: 150px;
    border-radius: 20% 20% 0 0;
    margin-bottom: 50px;
}

.cobertura.ganache{
    background-color: burlywood;
    height: 10px;
    width: 150px;
    border-radius: 20% 20% 0 0;
    margin-bottom: 50px;
}

.decoracao.cereja{
    background-image: url("../imagens/cereja.png");
    background-size: 50px;
    background-color: white;
    height: 180px;
    width: 50px;
    border-radius: 100%;
}

.decoracao.morango{
    background-image: url("../imagens/morango.png");
    background-size: 50px;
    background-color: white;
    height: 180px;
    width: 50px;
    border-radius: 50%;
}

#secao-1 {
    display: flex;
    justify-content: left;
    background-image: url("../imagens/fundo.png");
    height: 800px;
    width: 1300px;
}


.massas,
.recheios,
.coberturas,
.decoracao {
margin: 20px ;
}


.enfeites-cereja img,
.enfeites-morango img {
height: 30px;
}
